<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Songs Scraper</title>
		<!--Stylesheet CSS-->
		<link rel="stylesheet" type="text/css" href="./reset.css">
		<link rel="stylesheet" type="text/css" href="./style.css">
	</head>
	<body>
		<header>
			<a href="/">
				<h1>View Scraped Stuff</h1>
			</a>
			<a href="/saved">
				<h1>View Saved Stuff</h1>
			</a>
			<button class="hurt">My Eyes Hurt!</button>
		</header>

		{{{ body }}}
		
		<!-- JQuery -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<!--Webpage JavaScript-->
		<script type="text/javascript" src="./app.js"></script>
	</body>
</html>