<section>
	{{#each results}}
	<div>
		<h2>{{title}}</h2>
		<img src="{{image}}"/>
		<a href="{{link}}" class="preview" target="_blank">Preview song</a>
		<button class="save" id="{{id}}">Save entry</button>
	</div>
	{{/each}}
</section>