
body {
	margin: 10px;
	background: rgb(255,255,0);
}

section {
	background: rgb(255,50,200);
	margin: 15px;
}

header, .song {
	background: rgb(255,50,50);
	margin: 15px;
}

.song {
	width: 250px;
	display: inline-block;
	border: solid red 2px;
	padding: 10px;
}

h1 {
	display: inline-block;
	margin: 15px;
	padding: 15px;
	font: bold 30px Georgia;
	background: rgb(255,50,200);
	color: rgb(50,255,100);
}

h2 {
	font: bold 20px Arial;
	color: rgb(50,255,100);
	margin: 5px;
}

img {
	margin: 10px auto;
	display: block;
}

p, h2, h4, legend {
	text-align: center;
}

input {
	margin: 0px auto 5px;
	display: block;
}

.preview, button {
	display: inline;
	margin: 10px;
}

.group {
	background: rgb(50,150,255);
	padding: 10px;
}

.comment {
	background: rgb(50,255,100);
	display: block;
	padding: 5px;
	margin: 10px auto;
}

.x {
	height: 15px;
	margin: 5px;
	display: inline;
	float: right;
}

.show {
	margin-left: 20px;
}

h3 {
	font-weight: bold;
	display: inline;
	margin: 5px;
}
